.list {
  display: flex;
  margin-top: 100px;
}

.item {
  list-style: none;
  margin-right: 40px;
  background-color: rgb(247, 247, 247);
  border-radius: 13px;
}

.statusOnline,
.statusOffline {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}

.statusOnline {
  background-color: green;
}

.statusOffline {
  background-color: red;
}

.avatar {
  /* display: block; */
  width: 70%;
}

.name {
  font-size: 28px;
  color: rgb(95, 130, 160);
  text-align: center;
  font-weight: bold;
}
